body {
    background-image: url(https://thumbs.dreamstime.com/b/sky-view-ancient-arch-windows-sky-view-ancient-roman-arch-windows-apertures-113319926.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.button {
    background-color: red;
}
img {
    opacity: 0.5;
}
.header-logo {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    background-color: white;
    border-radius: 10px;
    margin-left: 30%;
    width: 40%;
    padding: 20px;
}

main {
    display: block;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 200px;
}


